<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="ourinvest-nexus"
            value="https://nexus.ourinvest.com.br/repository/nuget.org-proxy/" />
        <add key="ourinvest-nexus-dependencias"
            value="https://nexus.ourinvest.com.br/repository/nuget-ourinvest-dependencias/" />
        <add key="ourinvest-legacy"
            value="https://nexus.ourinvest.com.br/repository/nuget-ourinvest-legacy/" />
    </packageSources>
    <packageSourceCredentials>
        <ourinvest-nexus>
            <add key="Username" value="nexus.service" /> <!--Incluir Usuario de sistema com a conexão
            no Nexus.-->
            <add key="ClearTextPassword" value="IRPLrJfXU5zA5WEovZBK" /> <!--Incluir Senha de sistema
            com a conexão no Nexus.-->
            <add key="ValidAuthenticationTypes" value="basic" />
        </ourinvest-nexus>
        <ourinvest-nexus-dependencias>
            <add key="Username" value="nexus.service" /> <!--Incluir Usuario de sistema com a conexão
            no Nexus.-->
            <add key="ClearTextPassword" value="IRPLrJfXU5zA5WEovZBK" /> <!--Incluir Senha de sistema
            com a conexão no Nexus.-->
            <add key="ValidAuthenticationTypes" value="basic" />
        </ourinvest-nexus-dependencias>
        <ourinvest-legacy>
            <add key="Username" value="nexus.service" /> <!--Incluir Usuario de sistema com a conexão
            no Nexus.-->
            <add key="ClearTextPassword" value="IRPLrJfXU5zA5WEovZBK" /> <!--Incluir Senha de sistema
            com a conexão no Nexus.-->
            <add key="ValidAuthenticationTypes" value="basic" />
        </ourinvest-legacy>
    </packageSourceCredentials>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
</configuration>